body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  
}

form div {
  margin: 1em;
  display: inline-block;
}

#cart-items {
  list-style-type: none;
  padding: 0;
}

#cart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-item-header {
  flex-basis: 33.33%;
  
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-name {
  flex-basis: 33.33%;
}

.cart-item-price {
  flex-basis: 33.33%;
  text-align: right;
}