body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  
}

nav {
  font-family: sans-serif;
  background-color: #bde0fe;
  margin: 10vh;
  border-radius: 25px;
  text-align: center;
  border: 5px solid white;
}

form div {
  /* margin: 1em; */
  display: inline-block;
}

#cart-items {
  list-style-type: none;
  padding: 0;
}

#cart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  border-bottom: 2px solid #780000;
  color:#780000;
}

.cart-item-header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.cart-label {
  width: 50px;
}

#cost-box {
  float: right;
  text-align: center;
  margin-top:4em;
}

#total-amount {
  font-size: 18px;
  font-weight: bold;
}

.cart{
  margin: 2em;
}

h2 {
  text-align: center;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0cfcf;
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  color: #FF7F50;
  text-shadow: 2px 2px 3px white;
  border-bottom: 5px dotted #FF7F50;
  margin: 30px;
  margin-bottom: 50px;
}

a {
  display: inline-block;
  margin: 0 1em;
  font-size: 1.2em;
  color: #FF7F50;
  transition: color 0.3s;
}

#price{
  color:black;
}

.singleProduct-box {
  color: #FF7F50;
}

a:hover {
  color: #5d4444;
}

.checkout-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkout-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="email"]{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin:10px;
}

.submit-button:hover {
  background-color: #f5f5f5;
}

button{
  background-color: #e6d7f0; 
  color: #FF7F50; 
  border: 1px solid #FF7F50;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin:10px;
}

button:hover {
  background-color: #cdb4db;
}

img{
  width: 225px;
  height: auto;
}

.product-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card{
  padding:1em;
  text-align: center;
  margin: 20px;
  border-radius: 25px;
  border: 5px solid white;
}

.product-card:nth-child(2n+1) {
  background-color: #bde0fe;
}

.product-card:nth-child(2n) {
  background-color: #cdb4db;
}

.singleProduct-box{
  text-align: center;
}

.single-img{
  width:500px;
  height: 50vh;
  margin:0;
  padding:0;
  border:0;
}

.orderhistory{
  text-align: center;
  background-color: #f0cfcf;
  margin: 10vw;
  padding: 20px;
  border-radius: 25px;
  border: 5px solid white;
}

.orderHistoryContainer {
  text-align: center;
}

#orderBox:nth-child(2n+1) {
  background-color: #cdb4db;
}

#orderBox:nth-child(2n) {
  background-color: #a2d2ff;
}

p {
  color: #780000
}

.title {
  color: #c898e4;
  text-shadow: 1px 1px 2px white;
}

#homeContainer {
  text-align: center;
}

.checkout-options {
  display: flex;
}

.option {
  flex: 1;
  padding: 20px;
}

.checkout-card, .guest-checkout, . option-sign-in-sign-up {
  font-family: sans-serif;
  background-color: #bde0fe;
  margin: 10vh;
  border-radius: 25px;
  text-align: center;
  border: 5px solid white;
  
}

label {
  display: flex;
  margin-bottom: 10px;
  width: 100px;
}

.checkout{
  align-items: center;
}

.LogIn{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #bde0fe;
  margin: 10vh;
  border-radius: 25px;
  text-align: center;
  border: 5px solid white;
  align-items: center;
}

.User {
  margin-top: 2em;
}

.UserPass, .User{
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding:none;
  width: 400px;
}

.UPSubmit{
  margin:none;
  padding: none;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:none;
}

.cart-div{
  margin: 100px;
}

.userButtons {
  display: flex;
  flex-direction: column;
}

.cart-buttons {
  display: flex;
  flex-direction: column;
  width: 200px;
}

footer {
  float: bottom;
  margin-top: 100px;
  text-align: center;
}

#userProfile {
  padding:1em;
  text-align: center;
  margin: 100px;
  border-radius: 25px;
  border: 5px solid white;
  background-color: #cdb4db;
}